
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .hero p {
        font-size: 1rem;
        text-align: center;
    }
}

body{
    background-color: #0f172a;
    color: white;
    margin:0;
    font-family:Arial, sans-serif;
}

.hero{
    min-height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-content{
    max-width:600px;
}

.hero h1{
    font-size:4rem;
    font-weight:700;
}

.hero h1 span{
    color:#38bdf8;
}

.hero p{
    font-size:1.3rem;
    color:#94a3b8;
}

.accent{
    color:#38bdf8;
}

.card-custom{
    background:#1e293b;
    color:white;
    border-radius:15px;
    padding:20px;
    transition:0.3s;
}

.card-custom:hover{
    transform:translateY(-5px);
}

.card-title{
    font-weight:700;
    color:#38bdf8;
    margin-bottom:12px;
    font-size:1.2rem;
}

.card-text, .card p{
    color:#cbd5e1;
    line-height:1.6;
    font-size:0.95rem;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.email-line {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    width: fit-content;
}

.copy-msg {
    font-size: 0.8rem;
    color: #efefef;
    opacity: 0;
    position: absolute;
    right: -70px;
    transition: all 0.2s ease;
}

.copy-msg.show {
    opacity: 1;
}

.code-window{
    background:#1e1e1e;
    width:420px;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 40px rgba(0,0,0,0.4);
    font-family: Consolas, monospace;
}

.code-header{
    height:35px;
    background:#2d2d2d;
    display:flex;
    align-items:center;
    padding-left:12px;
    gap:8px;
}

.code-header span{
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
}

.code-header span:nth-child(1){ background:#ff5f56; }
.code-header span:nth-child(2){ background:#ffbd2e; }
.code-header span:nth-child(3){ background:#27c93f; }

.intro-screen{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hidden-content{
    opacity:0;
    display:none;
}

.show-content{
    display:block;
    animation:fadeIn 1.2s ease forwards;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

#typingCode{
    padding:20px;
    color:#4FC3F7;
    font-size:1rem;
    min-height:150px;
    margin:0;
    white-space:pre-wrap;
}

#typingCode::after {
    content: "|";
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

